[mysqlid]
bind-address = 0.0.0.0
log-error = /var/log/mysql/error.log
general_log = /var/log/mysql/log_output.log
sql_mode = ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

